<div class="detials">

<h1 class="page-Title">{{car.model}}</h1>
<div class="custom-Line"></div>

<div id="details-Container">
    <div id="details-Image">
        <img src="{{car.imageUrl}}">
    </div>

    <h1>Details</h1>
    <div class="custom-Line"></div>

    <h2>Owner: {{car.owner}}</h2>

    <h2>Created At: {{car.createdAt}}</h2>

    <h2>Type: {{car.type}}</h2>

    <h2>Year: {{car.year}}</h2>
<br>
<div>
    {{#if car.likes}}
    <h1>{{car.likes}}</h1>
    {{/if}}
    {{#if isAuth}}
    {{#if car.isLikedByThisUser}}
    <span>Already liked</span>
    {{else}}
    <a href="/cars/like/{{car._id}}">
      <button class="custom-Button">Like</button>
    </a>
    {{/if}}
    {{/if}}
      {{#if car.isOwner}}
      <a href="/cars/edit/{{car._id}}">
      <button class="custom-Button">Edit</button>
      </a>
         <a href="/cars/delete/{{car._id}}">
      <button class="custom-Button">Delete</button>
         </a>
         {{/if}}
</div>
<br>
<br>
<div>
      <button class="custom-Button">Buy</button>
      <button onclick="showCommentSection(event)" onclick="document.getElementById('comment-Section').scrollIntoView(false);" class="custom-Button">{{sectionCondition}}See Comments</button>
</div>
<br>
<h2>Description</h2>
    <div class="custom-Line"></div>
<h3>{{car.description}}</h3>
    

<div id="comment-Container">
    <h2>Comments</h2>
<div class="custom-Line"></div>

    <div class="comment-Form">
  <section onload="scrollToEnd(event)" id="comment-Section">

  </section>
  <div id="comment-Text-Button">

  <textarea id="comment-Area" cols="70" rows="4">
  </textarea>
  <a onclick="navigateHandler(event)" href="/login">
    <button class="custom-Button">Comment</button>
  </a>
  </div>
  
</div>
</div>
</div>

<script>
    function showCommentSection(e) {
    if (e) {

        e.preventDefault();
    }

    let commentSection = document.getElementById('comment-Container');

    if (commentSection.style.display == 'block') {
        e.target.textContent = 'See Comments'
        commentSection.style.display = 'none'
    } else {
        e.target.textContent = 'Hide Comments'
        commentSection.style.display = 'block'
        window.scrollTo(0, document.body.scrollHeight);
    }
}


</script>