<div class="detials">

<h1 class="page-Title">{{car.model}}</h1>
<div class="custom-Line"></div>

<div id="details-Container">
    <div id="details-Image">
    
    <img src="{{car.imageUrl}}">
    </div>
    <h1>{{car.createdAt}}</h1>
    <h1>{{car.type}}</h1>
    <h1>{{car.year}}</h1>
    <h1>{{car.description}}</h1>
</div>
</div>