<div id="details-Cotainer">
    <h1>Title: {{car.model}}</h1>
    <img src="{{car.imageUrl}}" alt="">
    <h2>{{car.year}}</h2>
    <h3>{{car.owner}}</h3>
    <p>{{car.description}}</p>
    <div>
        
        <a href="/delete/{{car._id}}">DELETE
        </a>
    </div>
</div>