
        <div>
            <h1>Hello world</h1>
        </div>
     <div>
          {{#each cars}}

        <div class="car-Container">
                 <h1>Title:{{model}}</h1>
            <a href="/details/{{_id}}">
                 <img src="{{imageUrl}}" alt="">
            </a>
                 <h3>Year:{{year}}</h3>
        </div>

     {{else}}

        <h1>There are no cars yet</h1>

     {{/each}}
     </div>
